<!-- </body>
  </html> -->


<div class="footer">
    <p>&copy; &nbsp;COMP 229-003 Web App Development<br>Avalon Stanley - 300849734<br>Created On: June 2, 2022</p>    
</div>

<!-- Scripts -->
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/javascripts/appclient.js"></script>
</body>
</html>