<div id="placeholders">
    <div class="member">
        <%= div1 %>
         <div class="name">Name
             <br />Description
         </div>
     </div>
    <div class="member">
        <%= div2 %>
         <div class="name">Name
             <br />Description
         </div>
     </div>
    <div class="member">
        <%= div3 %>
         <div class="name">Name
             <br />Description
         </div>
    </div>
    <div class="member">
        <%= div4 %>
         <div class="name">Name
             <br />Description
         </div>
    </div>
</div>