<div id="placeholders">
    <div class="member">
     <embed src="/images/PigsFly.pdf" alt="Marketing Brief - For Client" name="Marketing Brief - For Client" width="150px" height="150px" />
         <div class="name">Name
             <br />Description
         </div>
     </div>
    <div class="member">
     <embed src="/images/ProtectedAreasAssignment.JPG" alt="Protected Areas Assignment" name="Protected Areas Assignment" width="150px" height="150px">
         <div class="name">Name
             <br />Description
         </div>
     </div>
    <div class="member">
     <embed src="/images/CanadaGooseProductPage.JPG" alt="Canada Goose Product Page" name="Canada Goose Product Page" width="150px" height="150px">
         <div class="name">Name
             <br />Description
         </div>
    </div>
    <div class="member">
     <embed src="/images/RealtorPageProject.JPG" alt="Realtor Page Project" name="Realtor Page Project" width="150px" height="150px">
         <div class="name">Name
             <br />Description
         </div>
    </div>
</div>