
<%- include partials/header -%>
<div class="aboutMePic-brown">
<img src="/images/mypic.png" alt="myPic" class="aboutMePic">
</div>
<div class="aboutMeContent">
    <h2>My name is <b>Avalon Stanley.</b></h2>
    <p>Insert here.</p>
</div>
<%- include partials/footer -%>