<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <!-- logo -->
    <a class="navbar-logo" href="/home">
        <img src="/images/logoBrown.png" alt="logo" style="width:40px;">
    </a>

    <!-- Hello. -->
    <h1 class="h1-landing"><b>Hello.</b></h1>
    <p></p>
