<!-- Projects/Services -->

    <%- include partials/header -%>

    <%- include partials/title -%>

    <div id="placeholders">
       <div class="member">
            <embed src="/images/PigsFly.pdf" width="150px" height="150px" />
            <div class="name">Name
                <br />Description
            </div>
        </div>
       <div class="member">
            <img src="/images/ProtectedAreasAssignment.JPG" alt="Girl in a jacket" width="150px" height="150px">
            <div class="name">Name
                <br />Description
            </div>
        </div>
       <div class="member">
        <img src="/images/CanadaGooseProductPage.JPG" alt="Girl in a jacket" width="150px" height="150px">
            <div class="name">Name
                <br />Description
            </div>
       </div>
       <div class="member">
        <img src="/images/RealtorPageProject.JPG" alt="Girl in a jacket" width="150px" height="150px">
            <div class="name">Name
                <br />Description
            </div>
       </div>
   </div>


  <%- include partials/footer -%>