<!-- Projects/Services -->

    <%- include partials/header -%>

    <div id="placeholders">
       <div class="member">
           <img src="http://i.imgur.com/OBUL7se.jpg" alt="Responsive image" />
           <div class="name">Name
               <br />Description</div>
       </div>
       <div class="member">
           <img src="http://i.imgur.com/OBUL7se.jpg" alt="Responsive image" />
           <div class="name">Name
               <br />Description</div>
       </div>
       <div class="member">
           <img src="http://i.imgur.com/zmPeyso.png" alt="Responsive image" />
           <div class="name">Name
               <br />Description</div>
       </div>
   </div>


  <%- include partials/footer -%>