/* File name: MyFirstPortfolio
   Name: Avalon Stanley
   Student Id: 300 849 734
   Date: June 6, 2022 */

html, body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}
h2, h3{
  text-align: center;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  padding-bottom: 10px;
}

h2{
  font-size: 45px;
}

h3{
  padding-top: 5%;
  padding-bottom: 28px;
  font-size: 40px;
}

/* Landing Page */
.h1-landing{
  text-align: center;
  font-size: 350px;
  letter-spacing: -8px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 200px;
}
.navbar-logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}

/* NavBar */
.navbar-brand{
  display: block;
  margin-left: 80px;
  margin-right: auto;
  width: 0%;
}
.navbar-custom{
  background-color: rgba(224,196,173);
}
.navbar-nav{
  margin-right: 100px;
  gap: 15px;
}
.navbar-nav .nav-item:hover .nav-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.navbar-dark .navbar-nav .nav-link{
  font-size: 25px;
}

/* Home Page */
.h1-home{
  text-align: left;
  font-size: 130px;
  letter-spacing: -1px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 180px;
  color: white;
  padding-left: 80px;
}
.h2-home{
  text-align: left;
  font-size: 60px;
  letter-spacing: -1px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 80px;
  color: white;
}
body.home-bg{
  background: url(/images/beach.jpg);
  background-repeat: no-repeat;
  background-size : 100% 100%; 
}


/* About Page */
.content{
  position: relative;
  width: 100%;
  height:auto;
}
.aboutMePic-brown{
  background-color: rgba(224,196,173);
  height: 250px;
  width: 100%;
  position: relative;
}
.aboutMePic{
  z-index:1;
  top: 20px;
  width: 400px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}
.aboutMeContent{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 82%;
  font-weight: lighter;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  font-size: 22px;
  position: static;
  margin-top: 16%;
}
a:link {
  color: rgba(224,196,173);
  background-color: transparent;
  text-decoration: none;
  font-size: 28px;
  font-weight:normal;
}
a:hover {
  color: rgb(139,85,55);
  background-color: transparent;
  text-decoration: underline;
}


/* Contact Page */
input[type=text], select, textarea {
  width: 100%;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 16px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=submit] {
  background-color: rgba(224,196,173);
  color: white;
  padding: 6px 20px;
  border: none;
  cursor: pointer;
  float: right;
  font-size: 22px;
  margin-top: 10px;
  border-radius: 5px;
}
input[type=submit]:hover {
  background-color: rgb(139,85,55);
}
.container {
  width: 100%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  height: 360px;
  margin-bottom: -100px;
}
.div1{
  width: 45%;
  display: inline-block;
  padding-right: 10px;
}
.div1 label, .div2 label{
  font-size: 18px;
}
.div2{
  width: 45%;
  float: right;
}


/* Projects/Services */
.member {
  text-align:left;
  font-size: 20px;
  width: 250px;
}
.member:hover{
  color: rgba(224,196,173);
  opacity:0.8; 
}
#placeholders{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  gap: 105px;
  grid-auto-flow: column;
  margin-top: 5%;
}
.name{
  text-align:center;
}

/* Footer */
.footer {
  padding: 30px 25px 2px 0px;
  width: 100%;
  background-color: rgba(224,196,173);
  color: white;
  text-align: right;
  font-size: 20px;
  height:150px;
  position: relative;
  margin-top: 15%;
}

.flash{
  color: red;
}

/* Login Page */
.container-login {
  width: 50%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-left: 25%;
  margin-right: auto;
}

.lbl-login{
  padding-bottom: 20px;
}

.btn btn-primary{
  padding-top: 20px;
}

.form-group label{
  font-size: 18px;
}

input[type=password], select, textarea {
  width: 100%;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 16px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=email], select, textarea {
  width: 100%;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 16px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=number], select, textarea {
  width: 100%;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 16px;
  margin-bottom: 16px;
  resize: vertical;
}

tr {
  line-height: 25px;
  min-height: 25px;
  height: 25px;
  
}